.completed {
    text-decoration: line-through;
}

body {
    height: 563px;
    border: #01baef 20px solid;
    font-family:'Roboto Mono', monospace;
    margin: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #0b4f6c;
    font-size: 50px;
    text-align: center;
}

p {
    text-align: center;
    color: #757575;
}

input {
    margin-left:490px;
    margin-top: 40px;
    font-size: 25px;
}